<div class="row">
    <div class="col-lg-4">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" style=" background-color: red;"></a>
            <a href="#" class="list-group-item list-group-item-action" style=" background-color: orange;"></a>
            <a href="#" class="list-group-item list-group-item-action" style=" background-color: yellow;"></a>
            <a href="#" class="list-group-item list-group-item-action" style=" background-color: green;"></a>
            <a href="#" class="list-group-item list-group-item-action" style=" background-color:teal;"></a>
            <a href="#" class="list-group-item list-group-item-action" style=" background-color: blue;"></a>
            <a href="#" class="list-group-item list-group-item-action" style=" background-color:purple;"></a>
        </div>
        <audio controls>
          <source src="../assets/sonidos/note1.wav">
        </audio>
    </div>
</div>